* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chakra-button__icon {
  @media (max-width: 768px) {
    margin: 0 !important;
  }
}
.hero_slider {
  display: flex;
  justify-content: center;
  img {
    width: 100%;
  }
}
.swiper-button-next,
.swiper-button-prev {
  width: 40px !important; /* Adjust width */
  height: 40px !important; /* Adjust height */
  border: 2px solid white !important; /* Border color */
  border-radius: 50% !important; /* Make it circular */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: transparent !important; /* Transparent background */
  color: white !important; /* Arrow color */
  font-size: 18px !important; /* Font size for arrows */
  transition: background 0.3s !important; /* Smooth transition */
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 18px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(
    255,
    255,
    255,
    0.2
  ) !important; /* Change background on hover */
}
